body {
  min-height: 100vh;  /* Use entire view port/height */
  display: grid;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  /* padding: 0px 32px;  padding on right side of body */
  grid-gap: 1em;
  grid-template-columns: auto;
  grid-template-rows: 140px 1fr auto;  /* header main footer */
  background: url("../Images/Resized_1920x1080.jpg") no-repeat center center fixed; 
  background-size: cover;
}

header, footer {
  padding: 0px 0px;
}

/* TODO: this applies to everything matching nav li? */
header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0px 30px;
}

.header-top {
  padding: 0px 30px;               /* Must equal right/left padding of header a (see above) */
  text-align: right;               /* Align Mountain image to the right */
}

.header-mountains-logo {  /* . refers to class, # refers to id... when to use them? */
  width: 290px;
}

.header-bottom {
  display: grid;                   /* Enables the grid layout */
  grid-template-rows: auto;        /* 1 row, auto-scaling to content size */
  grid-template-columns: 1fr 1fr;  /* 2 columns, each with 1 fraction */
}

.header-rainydays-image {
  width: 290px;
}

.header-buttons {
  /* Align right */
  
}

.footer-comfort-zone {
  width: 390px;
  padding: 10px;
}

footer div {
  background-color: rgba(0, 0, 0, 0.58);
  text-align: center; /* align Footer_logo_white.png to center */
}

a {
  font-size: 20px;
}

.cta-button {
    background-color: rgb(185, 107, 13);
    padding: 10px 50px;
    border-radius: 8px;
  }
  
  .jacket1 {
    width: 290px;
  }
  
  main div {
    width: 300px;
    text-align: center;
    color: rgb(0, 0, 0);
    /*background-color: rgba(255, 255, 255, 0.609);*/
  }
  