body {
  min-height: 100vh; 
  display: grid;
  font-family:Arial, Helvetica, sans-serif;
  grid-gap: 7em;
  grid-template-columns: auto;
  grid-template-rows: 140px 1fr auto;  /* header main footer */
  background: url("../images/Mountains\ and\ person.jpg") no-repeat center center fixed; 
  background-size: cover;
  }
  
  header, footer {
    padding: 0px 0px;
  }

  .header-navigation {
    background-color: rgba(255, 255, 255, 0.504);
    text-align: left;
  }

  header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px 30px;
  }

  .page_title {
    color: white;
}

  .info {
    max-width: 320px;
    height: 340px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.688);
    margin:auto;
  }
  
  .header-top {
    padding: 0px 0px;               /* Must equal right/left padding of header a (see above) */
    text-align: center;               /* Align Mountain image to the right */
  }

  @media(min-width: 600px){
    .header-top{
      text-align: right;
    }
  }
  
  @media(min-width: 600px){
    .header-bottom{
      text-align: left;
    }
  }

  @media(max-width: 600px){
    .container{
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  }
  
    @media(max-width: 600px){
      .header_navigation{
        grid-template-columns: 1fr;
      }
    }
  
    @media(max-width: 600px){
      .header-rainydays-image {
        width: 100%;
      }
    }
  
    @media(min-width: 600px){
        .header-mountains-logo {
          text-align: center;
        }
      }

  .header-mountains-logo {  /* . refers to class, # refers to id... when to use them? */
    max-width: 290px;
  }
  
  .header-bottom {
    display: grid;                   /* Enables the grid layout */
    grid-template-rows: auto;        /* 1 row, auto-scaling to content size */
    grid-template-columns: 1fr 1fr;  /* 2 columns, each with 1 fraction */
  }
  
  .header-rainydays-image {
    max-width: 290px;
  }

  .header-buttons {
    /* Align right */
   text-align: right;
  }

  /*.rectangle_background { This is overwritten by main width???*/
   
  .cta-button {
    background-color: rgb(185, 107, 13);
    padding: 10px 50px;
    border-radius: 8px;
    display: block;
    margin: 10px;
  }
  
  .footer-comfort-zone {
    max-width: 390px;
    padding: 10px;
  }
  
  footer div {
    background-color: rgba(0, 0, 0, 0.58);
    text-align: center; /* align Footer_logo_white.png to center */
  }

  a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  @media(max-width: 600px){
    body{
      width: 20%
    }
  }

  @media(max-width: 600px){
    .footer{
      width: 20%
    }
  }

  @media(max-width: 600px){
    .footer div{
      width: 20%
    }
  }