body {
  background: url("../images/Resized_1920x1080.jpg") no-repeat center center fixed; 
  background-size: cover;
}

.selected_product { 
  background: url("../images/women_background.jpg") no-repeat center center fixed; 
  background-size: cover;
}

.checkout {
  background: url("../Images/Mountains\ and\ person.jpg") no-repeat center center fixed;
  background-size: cover;
}

.cart {
  background: url("../Images/Women.jpg") no-repeat center center fixed;
  background-size: cover;
}

.about {
  background: url("../Images/Mountains\ and\ person.jpg") no-repeat center center fixed;
  background-size: cover;
}

.products {
  background: url("../Images/Women.jpg") no-repeat center center fixed;
  background-size: cover;
}

main {
  text-align: center;  
}

main a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 30px
}

.active {
  color: white;
}

.footer {
  padding-bottom: 0px;
  padding-top: 0px;
}
