body {
  background: url("../images/Women.jpg") no-repeat center center fixed; 
  background-size: cover;
}
img {
    max-width: 90%;
  }

.container {
    text-align: center;
    display: flex; 
    background-color: rgba(255, 255, 255, 0.504);
    max-width: 635px;
    max-height: 433px;
}

.item {
    text-align: center;
    flex: 1px;
    padding: 5px;
}

/* Align all products in a grid system */
@media(max-width: 600px){
  .container{
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}

  main div {
    max-width: 635px;
    text-align: center;
    color: rgb(0, 0, 0);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 auto;
  }
  
  .jackets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  