  img {
    width: 90%;
  }

  .products {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  @media(min-width: 600px){
    .products {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(min-width: 900px){
    .products {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  main div {
    width: 312px;
    text-align: center;
    color: rgb(0, 0, 0);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: rgba(255, 255, 255, 0.69);
  }

  .jackets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*.rectangle_background {} This is overwritten by main width???*/
   
  .cta-button {
    background-color: rgb(185, 107, 13);
    padding: 10px 50px;
    border-radius: 8px;
    text-decoration: none;
  }

  .element_background {
    background-color: #ffffffb3;
    padding: 20px;
  }s

  a {
    font-size: 20px;
    text-decoration: none;
  }

  .footer-comfort-zone {
    width: 390px;
    padding: 10px;
  }
  
   footer div {
    background-color: rgba(0, 0, 0, 0.58);
    text-align: center; /* align Footer_logo_white.png to center */
  }